*{
    outline: none;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: teal;
    font-family: 'Barlow', sans-serif;
}

.items{
    position: relative;
    display: grid;
    grid-template-areas:"t"
                        "n"
                        "r"
                        "rn"    ;
    background-color: #14581a;
    justify-self: center;
    align-self: center;
    min-width: 350px;
    width: 33%;
    height: 50%;
    text-align: center;
    border: 1px solid yellowgreen;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 1px rgb(15, 65, 19);
    
}
#reload{
    position: absolute;
    color: yellowgreen;
    font-size:20px;
    bottom: 1%;
    right: 1%;
    font-weight:bold;
    text-align:center;
    width:50px;
    height:50px;
    background-color:#14581a;
    border: 1px solid yellowgreen;
    border-radius: 25px;
    cursor: pointer;
}
#reload:hover{
    background-color: yellowgreen;
    color: #14581a;
}
.title{
    font-weight: 800;
    font-style: italic;
    font-size: 50px;
    color: White;
    grid-area: t;
    align-self: center;
}
.subtitle{
    color: white;
    margin-bottom: 5px;
}
input {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid yellowgreen
}

.botao{
    font-size: 20px;
    padding-bottom: 3px;
    color: white;
    width: 50%;
    height: 50px;
    justify-self: center;
    border: 2px outset greenyellow;
    border-radius: 25px;
    background-color: rgb(20, 88, 26);
    cursor: pointer;
    text-align: center;
}
.botao:active{
    border: 2px inset greenyellow;
    background-color: rgb(31, 121, 39);
}
#nresultado{
    margin: 0 auto;
    align-content: space-around;
    grid-area: rn;
    visibility: hidden;
}
.resultado{
    font-size: 30px;
    align-self: flex-end;
    color: white;
    margin-bottom: 10px;
}