*{
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #061b08;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}
.items{
    position: absolute;
    display: grid;
    grid-template-areas:"t"
                        "n"
                        "r"
                        "rn"    ;
    background-color: #14581a;
    margin-top: 100px;
    min-width: 425px;
    max-width: 500px;
    min-height: 450px;
    max-height: 500px;
    width: 33vw;
    height: 60%;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.281), 
                inset 5px 5px 5px 3px #1f8027b7,
                inset -5px -5px 5px 3px #0b2c0eb7;
}
#reload{
    position: absolute;
    color: #9acd32;
    font-size:clamp(15px,20px,20px);
    bottom: 5%;
    right: 5%;
    text-align:center;
    width:50px;
    height:50px;
    box-shadow: inset 2px 2px 3px 0px #25882fb7,
                inset -2px -2px 3px 0px #0d3310b7;
    background-color:#1a6e21;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
#reload:active{
    box-shadow: inset -2px -2px 3px 0px #25882fb7,
                inset 2px 2px 3px 0px #0d3310b7;
}
.title{
    font-weight: 800;
    font-style: italic;
    font-size: clamp(45px, 50px, 50px);
    text-shadow: 1px 1px 0 #969595, 1px 2px 0 #969595, 1px 3px 0 #969595;    
    color: White;
    grid-area: t;
    align-self: center;
}
.subtitle{
    color: white;
    margin-bottom: 5px;
}
input {
    font-size: clamp(15px,20px,20px);
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid yellowgreen
}

.botao{
    font-size: clamp(15px,20px,20px);
    padding-bottom: 3px;
    color: white;
    width: 200px;
    height: 50px;
    justify-self: center;
    box-shadow: inset 2px 2px 3px 0px #25882f,
                inset -2px -2px 3px 0px #0d3310;
    border: none;
    border-radius: 25px;
    background-color: #1a6e21;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    margin-top: -50px;
}
.botao:active{
    box-shadow: inset -2px -2px 3px 0px #25882f,
                inset 2px 2px 3px 0px #0d3310;
}
#nresultado{
    position: absolute;
    bottom: 90%;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    align-content: space-around;
    grid-area: rn;
    visibility: hidden;
}
.resultado{
    font-size: clamp(20px,2vw,30px);
    align-self: flex-end;
    color: white;
    margin-bottom: 10px;
}
@media only screen and (max-width: 425px){
    input{
        width: 30px;
        height: 30px;
    }   
    .items{
        max-width: 425px;
        width: 100%;
        min-width: 310px;
    }
}