*{
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: teal;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

.items{
    position: relative;
    display: grid;
    grid-template-areas:"t"
                        "n"
                        "r"
                        "rn"    ;
    background-color: #14581a;
    margin-top: 100px;
    min-width: 315px;
    max-width: 500px;
    min-height: 450px;
    max-height: 500px;
    width: 33vw;
    height: 60%;
    text-align: center;
    border: 1px solid yellowgreen;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 1px rgb(15, 65, 19);
    
}
#reload{
    position: absolute;
    color: yellowgreen;
    font-size:clamp(15px,20px,20px);
    bottom: 1%;
    right: 1%;
    font-weight:bold;
    text-align:center;
    width:50px;
    height:50px;
    background-color:#14581a;
    border: 1px solid yellowgreen;
    border-radius: 25px;
    cursor: pointer;
}
#reload:hover{
    background-color: yellowgreen;
    color: #14581a;
}
.title{
    font-weight: 800;
    font-style: italic;
    font-size: clamp(45px, 50px, 50px);
    color: White;
    grid-area: t;
    align-self: center;
}
.subtitle{
    color: white;
    margin-bottom: 5px;
}
input {
    font-size: clamp(15px,20px,20px);
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid yellowgreen
}

.botao{
    font-size: clamp(15px,20px,20px);
    padding-bottom: 3px;
    color: white;
    width: 200px;
    height: 50px;
    justify-self: center;
    border: 2px outset greenyellow;
    border-radius: 25px;
    background-color: rgb(20, 88, 26);
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}
.botao:active{
    border: 2px inset greenyellow;
    background-color: rgb(31, 121, 39);
}
#nresultado{
    margin: 0 auto 25px auto;
    align-content: space-around;
    grid-area: rn;
    visibility: hidden;
}
.resultado{
    font-size: clamp(25px,2vw,30px);
    align-self: flex-end;
    color: white;
    margin-bottom: 10px;
}
@media only screen and (max-width: 425px){
    input{
        width: 30px;
        height: 30px;
    }
}